<!-- {{ $scratch := newScratch }}
{{ range (where .Site.RegularPages "Type" "in" (slice "blog")) }}
{{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

{{ $scratch.Get "wordcount" | lang.NumFmt 0 }} -->

{{ $scratch := newScratch }}
{{ if eq (.Get 0) "posts" }}
  {{ range (where .Site.RegularPages "Type" "in" "posts") }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ else if eq (.Get 0) "weekly" }}
  {{ range (where .Site.RegularPages "Type" "in" "weekly") }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ else if eq (.Get 0) "all" }}
  {{ range (where .Site.RegularPages "Type" "in" (slice "posts" "weekly")) }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ end }}
{{ $scratch.Get "wordcount" | lang.NumFmt 0 }} 字


{{ $wordcount := $scratch.Get "wordcount" }}
{{ $output := "" }}
{{ if ge $wordcount 1000000 }} 
  {{ $output = "《战争与和平》" }}
{{ else if ge $wordcount 850000 }} 
  {{ $output = "《应物兄》" }}
{{ else if ge $wordcount 80000 }} 
  {{ $output = "《呐喊》" }}
{{ else if ge $wordcount 50000 }} 
  {{ $output = "《小王子》" }}
{{ else if gt $wordcount 4000 }} 
  {{ $output = "《断魂枪》" }}
{{ end }}
相当于一本 {{ $output }}
